<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TellerId" value="AUTO" />
        <add key="SocketHost" value="192.168.88.6" />
        <add key="SocketPort" value="5000" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
